[2016-11-10 21:48] aferrero2707 opened #1 "issues with release deletion and travis build re-triggering"
I have started testing the upload tool on my project, and it is really awesome! However, I have a couple of problems:

* the Travis build is re-triggered by the updating of the "continuous" tag
* the old draft releases do not seem to be deleted, like you can see here:
https://github.com/aferrero2707/PhotoFlow/releases

Any idea of what I could be doing wrong?

My Travis configuration is associated

[2016-11-10 21:52] probonopd commented on #1
Add to your `.travis.yml`:

[code]

Yes, I experience the same issue - don't know the reason yet. Seems like the first deleteurl is sometimes empty and the release doesn't get deleted...

[2016-11-12 08:30] probonopd commented on #1
5386d01 may have fixed this.

[2016-11-13 09:38] probonopd commented on #1
Nope... need help on this, can't seem to get it to work properly. How hard can it be?

[2016-11-13 10:50] aferrero2707 commented on #1
Indeed I see authentication failures from time to time... see here for example: https://travis-ci.org/aferrero2707/PhotoFlow/builds/175451362

However, sometimes it work perfectly...

[2016-11-13 10:54] probonopd commented on #1
It is a complete mystery to me...

[2016-11-13 11:37] aferrero2707 commented on #1
A possible clue: one release was created as a draft, the next one as a pre-release. See screenshot: https://filebin.net/3u7helqokb3g0jgt, or directly the github releases page: https://github.com/aferrero2707/PhotoFlow/releases

The draft could not be deleted by the last travis job...

[2016-11-13 12:01] probonopd commented on #1
Yes, I somehow that seems related, I just don't know exactly how...

[2016-11-13 12:08] aferrero2707 commented on #1
Could you make your script more verbose?

[2016-11-13 12:27] probonopd commented on #1
No, then it'd leak the API key...

[2016-11-16 07:29] aferrero2707 commented on #1
In my last test, there was an existing "Continuous" pre-release on GitHub, and the Travis job was supposed to replace it with a newer one. What happened is that the previous release was not deleted, and was turned into a Draft instead, and the new appimage and travis log file were not uploaded.

The travis log is here: https://travis-ci.org/aferrero2707/PhotoFlow/builds/176180229

Again, there see

[2016-11-16 07:51] probonopd commented on #1
I see the same symptoms but don't know the solution...

[2016-11-16 08:07] aferrero2707 commented on #1
I will make some further tests with the upload tool locally on my machine, where I can safely expose the github token and make the script more verbose...

[2016-11-18 14:45] aferrero2707 commented on #1
In case you are interested, I am working on an alternative upload script that does not delete the existing "continuous" release. Instead, it will rotate the binary packages so that only the most recent 5 are kept.

This is because I want to use the continuous release to store other packages that are manually uploaded, and therefore I do not want to have the release deleted by the travis script.

H

[2016-11-18 19:49] probonopd commented on #1
Works for me now @aferrero2707 thank you very much for your help!

[2016-11-18 19:49] #1 closed

[2016-12-03 10:38] probonopd opened #3 "Allow for build matrices"
Allow for uploading the build artifacts of build matrices (e.g., multiple architectures). For this, we need to check the commit sha of the current build and check whether there is already a release for the same sha. If it is, then do not delete the release and the tag, but upload additional binaries to it instead.

[2017-03-18 11:39] probonopd opened #4 "Rewrite using a GitHub API library"
E.g., https://github.com/turnkeylinux/octohub

[2017-09-05 16:53] justinclift opened #6 "Release notification being generated for every rebuild"
We've discovered an unfortunate side effect of the current upload script. :wink:

Every time it runs, everyone watching our project is getting spammed by a new "release notification".
eg for every single commit we do

It's becoming pretty annoying. 😦

Looking through the upload script (and now afterwards, reading the readme) it's recreating the release every time.

That might be workable for low c

[2017-09-05 17:00] justinclift commented on #6
Ahhhh, this seems like a duplicate of #1.  I'll try the `.travis.yml` solution mentioned [there](https://github.com/probonopd/uploadtool/issues/1#issuecomment-259818295).

[2017-09-05 17:00] #6 closed

[2017-09-05 17:07] justinclift commented on #1
@aferrero2707 With your script, it seems like a more polished version of the upload script here.  Would it be suitable for making a PR from to get it here?

[2017-09-05 17:41] probonopd commented on #1
PRs welcome, as long as they don't break the existing stuff.

[2017-09-07 13:28] justinclift commented on #6
As a follow up data point, all attempts to suppress the release notification spam using settings in the .travis.yml failed.

Instead, we switched to using the upload script by @aferrero2707, which works and we're no longer getting spammed.  Thanks @aferrero2707. :smile:

[2017-09-07 17:09] probonopd commented on #6
@aferrero2707 mind to share your secret sauce? ;-)

[2017-09-07 18:09] aferrero2707 commented on #6
I've not answered because I feel dumb... honestly speaking, I do not remember anymore which sauce I cooked for this script!!!

I remember having spent quite some time in trying to get the script reliable, as from time to time the submit requests were not completed on the github side.

Next I started working on a new script that automatically deletes old files, and only keeps the 5 newest ones, but

[2017-09-07 18:19] probonopd commented on #6
Thank you @aferrero2707. Let's collect some feedback from users and then I'll gladly merge it!

[2017-09-07 18:32] justinclift commented on #6
Ahhh.  The difference between the scripts, at least as far as stopping the notification spam, is that @aferrero2707's doesn't recreate the issue each time.  Instead it locates the existing issue (if there is one) and just replaces the old binaries.

Nothing rocket science-y about it, just appropriate functionality for the task needing doing. :smile:

[2017-09-08 05:47] probonopd commented on #6
Issue? You mean Release? But is the Release then linked to the correct commit?

[2017-09-08 08:59] aferrero2707 commented on #6
No, indeed the commit reference is not updated in this case. Personally I was not particularly interested in this, as I use the continuous release as a placeholder for development snapshots, some of which are not generated via Travis CI.

[2017-09-08 10:17] justinclift commented on #6
Oops, yep I meant "Release" not issue.  As with @aferrero2707, for us it's more important to just have a release people can download + not get spammed for each commit.  Having it associated to the matching commit is minor.

If some way can be found to also have it matching the right commit, then sure, that would be useful.  But the "not generating release notification each time" is WAY more import

[2017-09-08 15:56] probonopd commented on #6
OK, that might be a killer for some people (including myself) then. I think it is the whole point of a continuous build pipeline to always have a direct link between the build artefacts and the source code commit that produced them. The "spam" (as you call it) is not something that ever worried _me_ - after all, I voluntarily _subscribed_ to it (but of course others might value this differently).

[2017-09-08 16:05] justinclift commented on #6
Yep.  People definitely do "Watch" repo's for specific reasons.  I've already been in contact with GitHub staff to find out if there's a way to suppress release notifications, even if on only a specific repo.  There isn't, so... some way around that is definitely needed for some users. :smile:

[2017-11-06 01:06] TheAssassin commented on #3
With the now available build stages on Travis (still a beta feature), this seems doable. You can add a build stage after your main matrix build, the build for it will only be triggered after all the other ones succeeded. The question is only, how to share artifacts with that final step.

[2017-11-06 01:09] probonopd commented on #3
Interesting. :+1:

[2017-11-06 02:17] TheAssassin opened #11 "Unit tests to prevent bad commits to pass"
As seen in #10, some bugs might pass, leading to broken builds. We should add some tests.

There is no real "dummy" or "sandbox" GitHub API (like there is one for many other REST APIs, e.g. https://developer.paypal.com/docs/integration/direct/payments/test-the-api/), so the question is how to realize the tests.

In an [example from the GitHub API docs](https://developer.github.com/v3/guides/gettin

[2017-11-06 05:19] dirkhh opened #12 "Odd text on release page"
I'm not sure if this is my mistake or if this is an issue with uploadtool...
A successful continuous build release gets this text for me:

`Release%20generated%20by%20Travis%20CI%20build%20no.%201191.%0a%0aBuild%20log%3a%20https%3a%2f%2ftravis-ci.org%2fSubsurface-divelog%2fsubsurface%2fbuilds%2f297803667%2f%0a%0a_Generated%20by%20%5buploadtool%5d%28https%3a%2f%2fgithub.com%2fprobonopd%2fuploadtool

[2017-11-06 07:11] #12 closed

[2017-11-06 07:27] probonopd commented on #11
A further alternative would be to copy the script into another project, do the changes there and use it for a while, and only thereafter make the changes here.

[2017-11-14 19:37] probonopd opened #16 "Put the headlines of the commits since last upload into the description"
Instead of seeing:

it would be cool to see the headlines of the commits since the last upload as part of the description (kind of a mini changelog):

* [Show progress in MiB as feature demo for #40](https://github.com/AppImage/AppImageUpdate/commit/2ce9497dc7eab2149826a4a3a6656ca371c6b45f)
* [Implement #40](https://github.com/AppImage/AppImageUpdate/commit/f866563e9ef84c2bd0132d945cfe979553bbf5bd

[2017-11-19 01:26] TheAssassin commented on #16
When I last tried to add a similar feature, I broke the script totally. Bash is just not the language for this job. I think you should add it to the "rewrite in C++" milestone.

[2017-11-19 01:31] TheAssassin opened #20 "Upload to transfer.sh if GITHUB_TOKEN is missing"
It would be super useful if uploadtool would just always upload the results somewhere, even if an upload to GitHub releases is not possible. I know that this behavior is partly intentional to make people add the token environment variable, but I think not uploading at all isn't ideal either.

One could show a big, fat, red warning that the token is missing, but I'd upload to transfer.sh in that ca

[2017-11-19 06:37] probonopd commented on #20
Indeed...

Can you give an example use case for the suggested feature, other than laziness to add a `GITHUB_TOKEN` (which we want to encourage users to add)?

[2017-11-19 12:01] TheAssassin commented on #20
How about

[2017-11-19 12:13] probonopd commented on #20
If you feel strongly about it, go ahead, but please put in a clear log message.

[2017-11-19 20:01] probonopd opened #23 "Do only one posting that contains all uploaded artifacts"
@dirkhh this is what currently happens when there are many build artifacts:

![spam](https://user-images.githubusercontent.com/2480569/32994792-919d27cc-cd6c-11e7-8bf0-e9914dc23296.png)

Especially with my avatar next to it, I am sure this makes me perceived a "spammer" in no time ;-)

There should be only one posting that contains all uploaded artifacts, rather than one per artifact.
Do you think

[2017-11-19 20:33] dirkhh commented on #23
The posts should be all from the repo owner - so you'll only be a spammer on your own repo.
But I agree that this is kinda annoying. Let me look at this to see if we can combine them all into one comment which would be much nicer, I agree.
I'm not a great shell programmer, but this shouldn't be **too** hard...

[2017-11-19 20:52] probonopd commented on #23
Keep in mind, though, that there may be more than one build running in parallel (e.g., different architectures). Can we still have just one posting?

[2017-11-19 21:54] dirkhh commented on #23
My current approach is to first deal with multi artifacts in one call to upload.sh each creating a new comment. I have the code for that, am testing right now.
Once that works, I'll look into multi-arch as well.

[2017-12-03 09:32] probonopd opened #25 "Investigate github-changelog-generator"
https://github.com/skywinder/github-changelog-generator

[2017-12-04 20:22] probonopd commented on #23
Something still doesn't look quite right:
https://github.com/AppImage/AppImageKit/pull/565

For the meantime, is there a way to disable this?

[2017-12-04 20:29] dirkhh commented on #23
I think we need to revert the commit that posts a review comment for the build artifacts.
It works fine in some scenarios, but in general... it isn't useful. :-(

[2017-12-09 10:03] probonopd opened #28 "Replace transfer.sh"
As transfer.sh is closing down, we need to replace it with something else. Ideally something that is unlikely to go away anytime soon, e.g., a [peer-to-peer solution](https://github.com/AppImage/AppImageKit/issues/175).

![](https://user-images.githubusercontent.com/2480569/33794654-26bcb95e-dcd0-11e7-8fe3-d612fca25de6.png)

Cross-references:
* https://github.com/AppImage/AppImages/issues/287
* ht

[2017-12-17 15:28] d1vanov commented on #4
I wrote a small [tool](https://github.com/d1vanov/ciuploadtool) in Go mimicking the uploadtool's behaviour - in fact, it was almost direct translation from `upload.sh` to golang, only with replacements of `curl` stuff with [go-github](https://github.com/google/go-github) library APIs calls. I did this rewrite because I need to handle binaries uploading not only from Travis CI but also from AppVeyo

[2017-12-17 20:11] probonopd commented on #4
Thank you very much @d1vanov - what is the reason you did not choose bash?

[2017-12-17 20:22] d1vanov commented on #4
Well, as @TheAssassin mentioned in #16, bash is just poorly suited for complex enough logics. Go is simple enough language but with strict static system type so the compiler checks many things for you during compilation stage, long before some mistake has a chance to occur in runtime. And besides, there's a convenient GitHub API implementation in Go.

Thank you for all the efforts put into AppImag

[2018-01-03 02:31] luis-lavaire commented on #4
Here's an [implementation](https://github.com/whiteinge/ok.sh) of the API written in shell script. As far as the script doesn't get too complex, shell scripts provide simpler solutions.

[2018-02-08 22:34] TheAssassin opened #30 "Don't upload releases unless on primary branch"
*Note: the term `master` branch is avoided on purpose. Many projects use another branch as primary branch, e.g., [AppImageKit](https://github.com/AppImage/AppImageKit/) uses `appimagetool/master`, [AppImageUpdate](https://github.com/AppImage/AppImageUpdate) uses `rewrite` at the moment.*

In many projects, there's development ongoing in branches outside the primary branch. Not everyone is happy wi

[2018-02-08 22:36] TheAssassin commented on #30
The GitHub API returns a `default_branch:` field in the `repo` API:
https://api.github.com/repos/AppImage/AppImageKit

[2018-02-10 09:22] probonopd commented on #30
Yes, this would be a very useful feature.

[2018-03-06 18:21] probonopd opened #31 "Automatically set up GITHUB_TOKEN in Travis CI using API"
It seems to be too complicated for users to enter the GITHUB_TOKEN into Travis CI, so maybe we can automate it using the API.

Reference:
https://github.com/rahmanshaber/corebox/issues/1#issuecomment-370655780

[2018-03-26 22:57] nurupo opened #32 "Alternative way of publishing continuous builds"
Just sharing something I have learned that you might be interested in knowing, assuming you don't know it already. Note that I'm not proposing any change or pointing out any bug in uploadtool.

I have recently learned that GitHub's wiki is also a git repository, and you can setup Travis-CI to upload nightly builds on each commit to some file sharing service (potentially signed by some Travis gpg k

[2018-03-29 15:57] probonopd commented on #32
Thanks for letting us know @nurupo.

[2018-03-29 15:57] #32 closed

[2018-03-29 19:13] TheAssassin opened #33 "Add build log to release description"
I would appreciate if there was a link back to the Travis CI build log in the release description.

The functionality appears to be implemented, looking at the code, I am not sure why this isn't happening, though.

@probonopd could you please have a look why the URL isn't appended to the description?

[2018-03-30 07:04] probonopd commented on #33
There is a check `if [ ! -z "$UPLOADTOOL_BODY" ] ; then` which I think evaluates to false, causing the log not to be appended. The variable and if clause was introduced in https://github.com/probonopd/uploadtool/commit/494d5a50a1fafd80f5b7e8667aad5dd57e5668c8 - could it be that it needs to be `if [ -z "$UPLOADTOOL_BODY" ] ; then`?

[2018-03-30 10:02] TheAssassin commented on #33
@probonopd when using `-z` to check whether a variable has set, there must not be quotes, IIRC.
See also https://github.com/probonopd/uploadtool/commit/494d5a50a1fafd80f5b7e8667aad5dd57e5668c8#diff-41c2c2edf223528193cd5163683cad3dR42.

A more straightforward (bash-only) syntax would be `[ "$UPLOADTOOL_BODY" != "" ]`.

[2018-03-30 10:04] TheAssassin commented on #33
Also, I think you're right workflow wise, the `!` negates the value of the check, which is not desired here.

[2018-04-05 18:31] TheLastProject opened #34 "Race condition deleting build"
I use uploadtool.sh for both macOS .dmg and Linux AppImage on https://github.com/Pext/Pext/releases. Someone, a race condition make the macOS build delete the AppImage build.

At the time this happened, https://github.com/Pext/Pext/commit/5458d76c274f1793ff1e902e197e472ccf09c97c was the most recent continous commit. Which is build 370 on Travis: https://travis-ci.org/Pext/Pext/builds/362457504.

I

[2018-04-05 19:09] TheLastProject commented on #34
Oh no, when I clicked restart build it deleted the old logs :(

[2018-04-06 09:11] probonopd commented on #34
Inserting a delay into one of the arches should reduce the probability of timing collissions... I think

[2018-05-21 21:40] tsteven4 opened #35 "upload tool for appveyor"
I like the upload tool for travis.  For appveyor  I created upload_appveyor.sh, substituting in APPVEYOR variables for the TRAVIS ones.  I had issues with the appveyor GitHub deployment provider keeping multiple versions of continuous release.  I ended up using the tag "continous" for travis and "continuous-windows" for appveyor to keep them from stepping on each other.  Of course you need bash to

[2018-05-21 21:48] probonopd commented on #35
Thanks @tsteven4. Since I don't use Windows nor AppVeyor myself, it's probably best if you maintain it separately.

[2018-05-22 03:46] d1vanov commented on #35
Sorry in advance for self promotion but a while ago I wrote my own [tool](https://github.com/d1vanov/ciuploadtool) for uploading of artifacts to continuous releases from both Travis and AppVeyor. It's based on the logic of uploadtool.sh but works with both CI systems. It's written in golang so there's a single binary without dependencies for each platform - Linux, macOS, Windows. I've been using i

[2018-05-27 03:41] nurupo commented on #34
Just want to point out that there are two different race conditions that can happen:

1. Race condition between jobs of a single build.
  You push a commit to master, Travis starts a build with several jobs, the jobs get to the release deletion part at around the same time, resulting in one job deleting other job's build artifacts.
2. Race condition between jobs of multiple builds.
  You push seve

[2018-05-27 12:10] TheLastProject commented on #34
That sounds like it'd break appimageupdate though, because it can no longer just watch the continuous branch.

[2018-05-27 19:00] nurupo commented on #34
It could be patched to work with this.

[2018-05-27 19:50] nurupo commented on #34
Another way to go about it, one that allows to have a `continuous` tag, is to do almost the same: have each job of 1st stage upload build artifacts into its own separate `continuous-$TRAVIS_BUILD_NUMBER-$TRAVIS_JOB_NUMBER` draft release, than have the job in the 2nd stage collect all those artifacts and delete the created draft releases. So far this is identical to the previous solution proposed,

[2018-05-27 20:14] nurupo commented on #34
The only downside to this solution is that if you have, for example, 3 builds running, then the older two builds would not publish build artifacts, because they will see there is a newer third build going on, and if the newer third build fails, then none of those 3 builds will publish build artifacts. This doesn't happen with the 1st solution I proposed, but with it you don't get the `continuous`

[2018-05-27 21:18] probonopd commented on #34
Right now it works for me (tm) and every change is likely to break it...

[2018-05-28 00:11] nurupo commented on #34
Thanks for the heads-up, we will not expect this bug be fixed anytime soon then.

[2018-11-02 01:40] TheAssassin opened #41 "Add support for beta releases"
It would be great to be able to set some environment variable to force a pre-release to be created instead of a "normal" release. Currently, this is only possible by setting `$UPLOADTOOL_PREFIX` to some value different from `$TRAVIS_TAG`, but that is quite counter-intuitive, and also applies some constraints that are not wanted (e.g., a prefix `continuous-` is added to the name of the release, whi

[2018-11-09 22:20] probonopd commented on #28
After running and supporting transfer.sh for 4 years on my own, I’m happy to announce we are partnering with Storj Labs to keep the project going. From day one, the transfer.sh code has been open source. Storj has a commitment to open source sustainability and reached out to help us find a way to keep our project alive. Stay tuned for updates on the partnership with Storj, but for now, please cont

[2018-11-09 22:20] #28 closed

[2019-01-06 01:14] probonopd opened #42 "Can this be replaced by native GitHub functionality?"
https://github.com/adamreichold/QMediathekView/blob/70c868ad9d2247df60a21faa9550f1425488e5f6/.travis.yml#L31-L47

[2019-03-12 18:58] probonopd opened #43 "Firefox Send as a replacement for transfer.sh"
With transfer.sh getting less reliable, we may want to look into Firefox Send as a replacement for transfer.sh.

https://github.com/ehuggett/send-cli

https://send.firefox.com/

[2019-03-12 20:16] leozide commented on #34
I was running into this since I upload Linux and Mac continuous builds to my project and found a fix here: https://github.com/olive-editor/olive/blob/master/.travis/after_success.sh

I've copied that code to my yml file here: https://github.com/leozide/leocad/blob/master/.travis.yml

May not solve all cases but it's been working for me so far.

[2019-05-25 15:45] nurupo commented on #34
I have published code for [`ci-release-publisher`](https://github.com/nurupo/ci-release-publisher) today, which tries to avoid race conditions when publishing, so if you are having race condition issues you could take a look into it. This is a rather new project, the repository was created just a few hours ago, so probably no one besides me has used it yet, so there might be some rather obvious bu

[2019-06-12 11:40] bengtmartensson opened #48 "Upload certain files as executable"
It would be advantageous to keep certain files, that the downloading user is suppose to execute (for example `*.AppImage` and `*.sh`), as executable in the sense of Unix (chmod +x) on Github. So I am requesting a way to "chmod +x" a just uploaded file, if for example the file matches a particular pattern (`*.AppImage`, `*.sh`, ...). Or just to preserve the permission flags would also work (curl by

[2019-06-12 19:33] probonopd commented on #48
Unfortunately uploading to http(s) does not preserve permissions.

Users need to use https://github.com/AppImage/appimaged or similar tools if they want their AppImages to be set executable automatically.

[2019-06-12 19:33] #48 closed

[2019-06-13 06:41] bengtmartensson commented on #48
Ok. Github (which is not just http) has some "limitations".
Possibly we will find a solution in the future.

[2019-06-27 11:19] darealshinji opened #49 "Build latest tag only"
I would like to have the build files on a separate branch and whenever that branch is updated they should checkout the latest release tag, build and upload the files to the existing tag.

That way I could do the following: import the latest commits from another project to my fork on Github and when a new release tag exists I will trigger my "travis" branch and the latest release version will be bu

[2019-06-27 23:42] probonopd commented on #49
Maybe it is possible, but I consider this tool feature complete for my needs. Feel free to fork and improve.

[2019-07-08 06:51] probonopd opened #50 "Do not build continuous-... tags when UPLOADTOOL_SUFFIX is used"
Does this work?
`    - /^(?i:continuous.*)$/`

[2019-07-08 06:54] probonopd commented on #50
Looks like it does.

[2019-07-08 06:55] #50 closed

[2019-07-20 12:26] Holyprogrammer commented on #43
I find [ffsend](https://github.com/timvisee/ffsend) to be more reliable than send-cli

[2019-08-09 15:21] mmtrt opened #51 "uploading large file fails"
[code]

Does it need some more permissions for token?
currently have only checked repo section only.

[2019-08-09 16:31] probonopd commented on #51
Never seen this issue before.

But I have also never tried to upload files that large. Does it work when you upload using the GitHub Releases GUI?

And are we sending the correct  `content-length` header?

[2019-08-09 17:09] mmtrt commented on #51
I don't have fast upload speed that would take ages to upload so I'm still I'm doing similar work related to your forked repo `system` which has custom iso file upload not sure its done via script or manually.

when some changes were not working in my repo it did upload `original.iso` file fine without any issues which was large and now with correct changes it not uploading iso but does `zsync` an

[2019-08-09 17:36] probonopd commented on #51
Sure, feel free too fork and experiment. Let us know one you have something that is working for you.

[2019-08-11 06:56] mmtrt commented on #51
Seems like there is size limit `2G` that is why it is failing & if its less then that file uploads fine.

[2019-08-11 06:56] #51 closed

[2019-10-21 09:32] vicr123 opened #53 "Release name not set on macOS"
The bash(?) version that comes on macOS/Travis CI is too old to recognise the substitution on line 45.
![image](https://user-images.githubusercontent.com/7380161/67193817-a92f1f00-f441-11e9-8a60-bcb9c1879d06.png)
This results in the upload tool not setting the release name correctly.

[2019-10-22 19:45] probonopd commented on #53
Caused by a recent change, https://github.com/probonopd/uploadtool/commit/c2e27fc8d3fdb6c6f71fde0e6c3d2ed3bc0018bc. Since that change introduced a build error and is causing this, I am reverting for now.

[2019-10-23 23:24] TheAssassin commented on #53
You're not running this script in bash, I bet. bash has supported this syntax since version 4.0, which was released in 2009. That mac is very likely not using a bash as standard shell. You should try with `bash uploadtool.sh` instead of `./uploadtool.sh` or `sh uploadtool.sh`.

In any case, we can replace this bash-ism with a POSIX compliant solution.

The build error was *completely* unrelated to

[2019-10-23 23:25] vicr123 commented on #53
macOS still ships with bash 3.2 :(

[2019-10-23 23:28] TheAssassin commented on #53
That's a shame. In any case, that specific bash-ism has been replaced in #55. The new code works fine in `dash` 0.5.8-2.10.

[2019-10-23 23:33] TheAssassin commented on #53
Would you mind testing my new version? This way @probonopd hopefully won't revert it again. (Yep, had to make this one, sorry!)

![3e67pr](https://user-images.githubusercontent.com/4503202/67441693-20111700-f5fe-11e9-991a-336d814bfac6.jpg)

Direct link:https://github.com/probonopd/uploadtool/raw/76e2330b548a3e1a71f80dd709b89593c4053e2f/upload.sh

[2019-10-24 10:48] vicr123 commented on #53
Giving it a go now. Will report back in 20 minutes (https://travis-ci.org/vicr123/theSlate/jobs/602262107) :)

[2019-10-24 11:21] vicr123 commented on #53
Looks like it works now :)

[2019-10-25 19:57] #53 closed

[2019-10-25 19:59] probonopd commented on #53
Merged #55. Please let me know whether all is fine now. Thanks!

[2019-11-07 22:56] probonopd commented on #53
@TheAssassin why is it still building red now? As per my policy, I revert anything that is red for too long...

[2019-11-07 22:57] TheAssassin commented on #53
Err... ***what?** Please post a link or anything. I have no clue what you mean.

[2019-11-07 23:01] jonaski commented on #53
Retrigger  the build for arch two

[2019-11-07 23:11] probonopd commented on #53
I have a reflex that whenever I see a red badge, to revert to the last commit that had resulted in a green badge. And it seems this macOS thing has resulted in a red badge.

![](https://user-images.githubusercontent.com/2480569/68435727-f20e0400-01b3-11ea-892d-559716689ca0.png)

[2019-11-07 23:15] probonopd commented on #53
Indeed it was some intermittent issue only, re-running made it green. At this occasion I saw that the two arches were just a leftover and not needed, so I removed the arch thing. Thanks @jonaski and sorry @TheAssassin and everyone for the interruption.

[2019-11-07 23:19] TheAssassin commented on #53
Yeah, that's again one of these build failures that is very likely to happen with the not so great build script.

Consider adding a random sleep to your build script, ideally in a range of at least 60 seconds. That'll reduce the chance greatly.

[2019-11-26 04:48] antony-jr opened #56 "Upload fails for multiple files with similar name which does not match case."
[code]

The above command only uploads ```AppImageUpdater*.AppImage*```. (i.e) Only the first two files is uploaded. If I place ```appimageupdater*.AppImage``` first then only that gets uploaded.

From the travis log, this message seems to be related to this issue.

[code]

**But this seems to work in AppImageUpdate repo**, it's strange. But AppImageUpdate did not make any updates recently so that

[2019-11-30 09:12] probonopd commented on #56
Possibly something (what?) can't handle lowercase vs. uppercase and considers those as the same files; can you try to rename e.g., `appimageupdater` to `appimageupdatertool` to make it more different from `AppImageUpdater` and see what happens?

[code]

[2020-03-07 15:12] TheLastProject opened #57 "Fails silently if transfer.sh has issues"
[code]

It should probably detect this and error out or preferably fall back on another service.

[2020-03-07 15:15] TheLastProject commented on #57
Related transfer.sh issue: https://github.com/dutchcoders/transfer.sh/issues/277

Specifically, note https://github.com/dutchcoders/transfer.sh/issues/277#issuecomment-572110598

[2020-03-09 20:25] probonopd opened #58 "Investigate Sia (Simple Decentralized Storage) as an alternative to transfer.sh"
https://siasky.net/

Upon uploading a file, Skynet generates a 46 byte link called a Skylink. This link can then be shared with anyone to retrieve the file on any Skynet Webportal.

https://siasky.net/XABvi7JtJbQSMAcDwnUnmp2FKDPjg8_tTTFP4BwMSxVdEg

Is it any good for our purposes?

[2020-03-11 18:35] probonopd opened #59 "Finish port to Go (Golang)"
Let's migrate the code to Go, so that it

* Can be tested more easily
* Gets better error checking and becomes more robust
* Can be embedded into other code
* Does not rely on external binaries such as `curl`

https://github.com/probonopd/uploadtool/blob/master/uploadtool.go

Probably we shoud use https://github.com/google/go-github.

[2020-06-16 22:21] TheAssassin opened #61 "GitHub updated the access token scopes"
Please update the README.

[2020-06-16 22:23] TheAssassin opened #62 "Move away from personal access tokens"
Personal access tokens cannot be limited to single projects. This is really insecure. A working workaround is to create bot users per project (this is generally a good idea). PR is on the way to clarify that.

Someone should however investigate whether it's possible to use alternative authentication methods of the GitHub API, e.g., something OAuth2 based. Those tokens _can_ be limited to projects/

[2020-07-30 11:12] probonopd commented on #62
Do you know how to implement this?

[2020-07-30 11:13] probonopd commented on #61
To say what exactly?
(/me is always annoyed when $SOMEONE changes something that makes him do additional work when in fact it has been working just well all the time)

[2020-09-12 16:49] buddhi1980 opened #65 "Cannot figure out the release URL for continuous"
For last two days I have folowing error message on TravisCl when used ```https://github.com/probonopd/uploadtool/raw/master/upload.sh``` to upload package to GitHub releases.

```Cannot figure out the release URL for continuous```

I have no clue what could be wrong. Has any of you similar problem or know the solution?
I used it for last year without any issues and I didn't make any changes in con

[2020-09-12 17:32] trevorsandy commented on #65
Commit https://github.com/probonopd/uploadtool/commit/0d90bbc184c56a6f244cc2f8fc192d8b62c88a62 broke the script.

Workaround:
Download an earlier revision - for example: https://github.com/probonopd/uploadtool/commit/8142d461aba7b92a058116fe5ee75be438b75fa4

Cheers,

[2020-09-13 15:46] buddhi1980 commented on #65
Final solution was to add
``` export UPLOADTOOL_ISPRERELEASE=true```
in travis.yml
It fixed the problem

[2020-09-13 18:52] trevorsandy commented on #65
I don't think you should close this ticket.

Commit https://github.com/probonopd/uploadtool/commit/0d90bbc184c56a6f244cc2f8fc192d8b62c88a62 broke the script. If a user does not have UPLOADTOOL_ISPRERELEASE export var declared the script behaviour should handle that, it should not fail.

Cheers,

[2020-09-13 18:55] probonopd commented on #65
Thanks for analyzing @trevorsandy. This needs to be fixed indeed!

[2020-09-13 18:57] probonopd commented on #65
@DamirPorobic can you please have a look at this? Thank you.

[2020-09-13 21:37] probonopd commented on #65
Please retry. Sorry for the trouble caused.

[2020-09-14 06:25] DamirPorobic commented on #65
Strange, didn't fail on my repos but thanks for fixing.

[2020-09-14 16:14] buddhi1980 commented on #65
What is funny, that now it doesn't work when ```export UPLOADTOOL_ISPRERELEASE=true``` is used
Should I remove UPLOADTOOL_ISPRERELEASE?

[code]

[2020-09-14 21:40] probonopd commented on #65
Yes, at least then it should be working again...

@DamirPorobic can you please have another look at this? If else fails, I will have to revert to https://github.com/probonopd/uploadtool/commit/8142d461aba7b92a058116fe5ee75be438b75fa4.

[2020-09-15 19:15] buddhi1980 commented on #65
Works almost properly again when deleted ```export UPLOADTOOL_ISPRERELEASE=true```
But now it is published as a Release instead of Pre-release. It is not correct.
Originally by default everything was published as a pre-releases (drafts)

[2020-09-15 19:17] probonopd commented on #65
Yes, we changed the default intentionally. Because otherwise the GitHub GUI hides the continuous builds away from view.

[2020-09-15 20:06] buddhi1980 commented on #65
So how to switch now to pre-releases? Is it possible or there is still some bug?

[2020-09-15 20:25] probonopd commented on #65
Not sure, please give it a try whether `UPLOADTOOL_ISPRERELEASE=true` works now or not. (I have no need for this option.)

[2020-09-15 20:38] buddhi1980 commented on #65
Before my last commit there was used UPLOADTOOL_ISPRERELEASE=true and it produced error ```Cannot figure out the release URL for continuous```

[2020-09-15 20:44] DamirPorobic commented on #65
I‘ll have a look into it tomorrow, I need this option too. What‘s a bit strange, I didn‘t get that error that you have.

________________________________
From: Krzysztof Marczak <notifications@github.com>
Sent: Tuesday, September 15, 2020 10:39:10 PM
To: probonopd/uploadtool <uploadtool@noreply.github.com>
Cc: Damir Porobic <damir_porobic@live.com>; Mention <mention@noreply.github.com>
Subject: Re

[2020-09-16 21:31] DamirPorobic commented on #65
@buddhi1980 can you test with https://github.com/damirporobic/uploadtool/raw/master/upload.sh?

I have tested now with export `UPLOADTOOL_ISPRERELEASE=true`, `export UPLOADTOOL_ISPRERELEASE=false` and without setting it at all, works as expected. If you get the error again, please post the travis-ci log (or what kind of CI you're using).

[2020-09-17 15:17] buddhi1980 commented on #65
@DamirPorobic this script from your repository works perfect. I have just tested it with export UPLOADTOOL_ISPRERELEASE=true and it created pre-release.

[2020-09-20 17:19] DamirPorobic commented on #65
There is a PR waiting to bring this change into this repo. @probonopd can you have a look?

[2020-09-20 17:58] probonopd commented on #65
@buddhi1980 are you saying the latest version from this repository is still __not__ working?

[2020-09-20 18:00] buddhi1980 commented on #65
Yes, it doesn't work when I use version from here. When I use version from DamirPorobic, everything works fine.

[2020-09-20 18:01] probonopd commented on #65
Also when you do **NOT** set `UPLOADTOOL_ISPRERELEASE` to anything? In this case, it should __not__ be a prerelease. Can you confirm that works, too?

[2020-09-20 18:03] buddhi1980 commented on #65
without UPLOADTOOL_ISPRERELEASE it worked, but everything went to Releses. I was not able to set this flag, because script failed.

[2020-09-20 18:05] buddhi1980 commented on #65
By the way for backward compatibility by default all packages should be posted as drafts or pre-leseases. It was default behavior before these changes.

[2020-09-20 18:14] probonopd commented on #65
Yes, and then GitHub started to hide the prereleases. Hence I changed the default.

[2020-09-20 18:15] probonopd commented on #65
Just to be clear, so you are saying the DamirPorobic version _didn't_ work without UPLOADTOOL_ISPRERELEASE, "_script failed"_?

[2020-09-20 18:15] buddhi1980 commented on #65
Pre-releases are visible
![image](https://user-images.githubusercontent.com/11696990/93718687-0bc2fa80-fb7e-11ea-8c27-ed9cf2bdffe5.png)

[2020-09-20 18:16] DamirPorobic commented on #65
Same for me:
![image](https://user-images.githubusercontent.com/12796236/93718694-17162600-fb7e-11ea-975e-5135a989cd9e.png)

[2020-09-20 18:18] buddhi1980 commented on #65
I havent tested DamirPorobic  version without UPLOADTOOL_ISPRERELEASE. I tested it only with UPLOADTOOL_ISPRERELEASE = true.
Version from here works without UPLOADTOOL_ISPRERELEASE, but fails when there is used UPLOADTOOL_ISPRERELEASE = true.

[2020-09-20 18:19] buddhi1980 commented on #65
It is very good that pre-releases are hidden on main page of repository:
![image](https://user-images.githubusercontent.com/11696990/93718785-97d52200-fb7e-11ea-9e1f-d7388fcef01a.png)

[2020-09-20 18:37] probonopd commented on #59
Actually https://github.com/tcnksm/ghr is just that.

[2020-09-20 18:37] #59 closed

[2020-09-20 18:38] probonopd opened #67 "Consider https://github.com/tcnksm/ghr as an alternative"
Consider https://github.com/tcnksm/ghr as an alternative.

It is written in Go, probably more robust, and configurable.

[2020-09-23 16:21] qurious-pixel opened #68 "Overwrite same commit"
How do you overwrite the same commit?

Can I comment out line #271
`if [ "$TRAVIS_COMMIT" != "$tag_sha" ] ; then`

I want it overwrite the same commit if the build is successful.

[2020-09-23 17:25] probonopd commented on #68
Consider https://github.com/tcnksm/ghr as an alternative.

It is written in Go, probably more robust, and configurable.

And it can do what you are asking for, I think.

[2020-09-23 20:31] qurious-pixel commented on #68
Thanks for the tip. Used the repo in my project.

[2020-09-23 20:31] #68 closed

[2020-09-24 15:33] qurious-pixel commented on #68
to recreate the upload.sh functionality with overwrite, I used the following:
`ghr -recreate -n 'Continous build' -b "Travis CI build log ${TRAVIS_BUILD_WEB_URL}" continuous artifacts/`

in the format of `ghr [option] TAG [PATH]`

[2021-05-09 12:07] #56 closed

[2021-05-15 12:18] Symbian9 opened #72 "How to upload latest GitHub Actions artifacts as `continuos` pre-release asset"
As *Bintray* storage discontinued, *FontForge* needs should be switched to storing build artifacts (i.e. nightly *AppImage*) as assets for `continuous` pre-release.

- https://github.com/fontforge/fontforge.github.io/issues/162

Here are GitHub Actions workflow scripts:

- https://github.com/fontforge/fontforge/tree/master/.github/workflows

How to setup those scripts (+ `uploadtool`) to upload la

[2021-05-16 20:55] probonopd commented on #72
There are readymade solutions for this like https://github.com/fnkr/github-action-ghr

[2021-05-16 20:55] #72 closed